@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {

  /* Colors */
  --cyan-dark: hsl(158, 36%, 37%);
  --cyan-dark-2: hsl(158, 36%, 27%);
  --cyan-dark-3: hsl(158, 36%, 18%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0, 100%);
  --blue-dark: hsl(228, 12%, 48%);
  --blue-dark-2: hsl(212, 21%, 14%);

  /* Font sizes */
  --text-body: 1rem;
  --text-title: 1.5rem;
  --text-display: 2.6rem;
}

* {
  padding: 0; margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--cream);
  font-size: var(--body);
  font-family: 'Montserrat', sans-serif;
}

.title {
  font-family: 'Fraunces', sans-serif;
  font-size: var(--text-title);
}

.display {
  font-size: var(--text-display);
}